<%- include('../tpl/layout/head_top'); %>
<!--<link rel="stylesheet" href="/Platform/css/home/index.css"/>-->

<style type="text/css">
  .user-detail{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:20px 0;
  }

</style>

<%- include('../tpl/layout/head_bot'); %>
<%- include('../tpl/layout/header'); %>

<div class="user-detail">
  <div class="row">


  </div>
</div>
<script type="application/javascript">
  $('.user-detail').height( document.body.offsetHeight - 140 );
  var url = '/api/user/detail/10001';
  var url2 = '/api/user/list?id=10001'
  $.ajax({
    type : 'get',
    url : url2,
    dataType:'json',
    success : function (res) {
      console.log(res)
    },
    error : function (err) {
      console.log(err)
    }
  })
</script>


<%- include('../tpl/layout/footer'); %>

<!-- javascript -->

<%- include('../tpl/layout/footer_script'); %>
<%- include('../tpl/layout/foot'); %>